#loading-screen{
    transition-timing-function: ease-in;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin:0px;
    padding: 0px;
    overflow: hidden;
}

.loading-screen-break-strip{
    z-index: 2;
    transition: all 1s cubic-bezier(1, 0.5, 0.86, 0.01);
    position: absolute;
    width: 10px;
    height: 0px;
    background-color: black;

}

#loading-screen-break-strip__top{
    left: calc(100% - 5px);
    top: 0%;
}

#loading-screen-break-strip__bottom{
    left: -5px;
    bottom: 0%;
}


.loading-screen-panel{
    transition: all;
    position: absolute;
    top:0%;
    width: 50%;
    height: 100%;
    /* background: linear-gradient(22deg, rgba(31,6,13,1) 0%, rgba(119,51,68,1) 52%, rgba(148,91,104,1) 100%); Too similar to first room */
    /* background: linear-gradient(22deg, rgba(142,142,142,1) 0%, rgba(227,181,164,1) 52%, rgba(227,129,92,1) 100%); Too light in camparison to first room */
    /* background: linear-gradient(22deg, rgba(215,199,192,1) 0%, rgba(227,181,164,1) 52%, rgba(226,157,131,1) 100%); still too light */
    background: linear-gradient(22deg, rgba(148,148,148,1) 0%, rgba(186,146,131,1) 52%, rgba(182,109,82,1) 100%);


    background-size: 200% 100%;

}

#loading-screen-left-panel{
    transition-duration: 3s;

    left:0%;

    background-position: 0% 0%;
}

#loading-screen-right-panel{
    transition-duration: 1.5s;

    left:50%;

    background-position: -100% 0%;
}

#loading-screen-text{
    white-space: nowrap;
    z-index: 3;
    transition: all 1s cubic-bezier(0.87, 0.03, 0.97, 0.74);
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);

    padding: 0px 10px;
    text-align: center;
    color: whitesmoke;
}

@media only screen and (max-width: 500px) {
    #loading-screen-text{
        transition-duration: 0.5s;
    }
}

#loading-screen-text::before{
    z-index: 0;
    position: absolute;
    display: inline-block;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    border-radius: 100% 100%;
    content: "";
}

#loading-screen-text p{
    position:relative;
}

@media only screen and (max-width: 500px) {
    #loading-screen-text::before{
        width: 95vw;
        height: 95vw;
    }
}

#loading-screen-text-name{
    font-size: 30px;
}

#loading-screen-text-role{
    font-size: 20px;
}

#loading-screen-progress-bar{
    position:relative;

    transition: all 1s ease;

    margin-bottom: 10px;

    opacity: 1;

    width: 0%;
    height: 10px;
    border-radius: 5px;


    background: rgb(255,255,255);
    background: linear-gradient(22deg, rgba(255,255,255,0.5158438375350141) 0%, rgba(255,255,255,0.8071603641456583) 52%, rgba(255,255,255,0.8799894957983193) 100%);
}

#loading-screen-text-start{
    margin-top: 10px;
    font-size: 20px;
    opacity: 0;
    transition: transform 0.2s ease-in, opacity 2s ease;
}

#loading-screen-text-start-container{
    transition: opacity 1.2s ease;
    height: calc(var(--cube-width)*2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#loading-screen-text-start:hover{
    transform: scale(1.02);
}

.start-button-animation{
    -webkit-animation: breathing 2.5s ease-out infinite normal;
    animation: breathing 2.5s ease-out infinite normal;
    animation-direction: alternate;
}

.cube-wrapper {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: spin 5s infinite linear;
  animation: spin 5s infinite linear;
  width: var(--cube-width);
  height: var(--cube-width);

  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  animation-play-state: paused;

}


.cube {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: spin 10s infinite linear;
  animation: spin 10s infinite linear;
  position: absolute;
  width: var(--cube-width);
  height: var(--cube-width);
  transform: rotateX(45deg) rotateY(45deg);
}

.cube-wrapper:hover {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  animation-play-state: running;
}

.cube div {
   width: var(--cube-width);
   height: var(--cube-width);
   line-height: var(--cube-width);
   text-align: center;
   box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.577);
   background: rgba(138, 138, 138, 0.152);
   display: block;
   position: absolute;
}

.cube div.top {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  margin-top: calc(var(--cube-width) / -2);
}

.cube div.right {
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  margin-left: calc(var(--cube-width) / 2);
}

.cube div.bottom {
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  margin-top: calc(var(--cube-width) / 2);
}

.cube div.left {
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  margin-left: calc(var(--cube-width) / -2);
}

.cube div.front {
  -webkit-transform: translateZ(calc(var(--cube-width) / 2));
  transform: translateZ(calc(var(--cube-width) / 2));
}

.cube div.back {
  -webkit-transform: translateZ(calc(var(--cube-width) / -2)) rotateX(180deg);
  transform: translateZ(calc(var(--cube-width) / -2)) rotateX(180deg);
}

@-webkit-keyframes spin {
  100% {
    rotate: 0 1 0 360deg;
  }
}

@keyframes spin {
  100% {
    rotate: 0 1 0 360deg;
  }
}




@-webkit-keyframes breathing {
  0% {
    opacity: var(--start-button-opacity-high);
  }

  30% {
    opacity: var(--start-button-opacity-high);
  }

  100% {
    opacity: var(--start-button-opacity-low);
  }
}

@keyframes breathing {
  0% {
    opacity: var(--start-button-opacity-high);
  }

  30% {
    opacity: var(--start-button-opacity-high);
  }

  100% {
    opacity: var(--start-button-opacity-low);
  }
}
