.modal-container{
    background-color: rgba(0, 0, 0, 0.425);

    transition: opacity 0.4s;
    opacity: 0;
    pointer-events: none;

    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin:0px;
    padding: 0px;
    overflow: hidden;
}

.modal{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    background: linear-gradient(22deg, rgb(207, 172, 159) 0%, rgb(247, 228, 221) 52%, rgba(247, 228, 221) 100%);
    padding: 100px 50px;

    /* border-radius: 2000px; */
}

.modal-cross{
    position: absolute;
    top: 15px;
    right: 10px;

    width:30px;
    height:30px;
    opacity: 0.4;


    cursor: pointer;

}

.modal-cross:hover {
  opacity: 0.7;
}

.modal-cross:before, .modal-cross:after {
    position: absolute;
    top:0px;
    right:50%;
    content: '';
    height: 30px;
    width: 2px;
    background-color: black;
}

.modal-cross:before {
    transform: rotate(45deg);
}

.modal-cross:after {
    transform: rotate(-45deg);
}

.modal-button{
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

#redirect-modal-button-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.modal-button-confirm{
    /* background-color: rgb(48, 187, 48); */
    background-color: rgba(104, 104, 104, 0.219);

    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.modal-button-cancel{
    background-color: rgb(192, 43, 43);
}

#image-container{
    z-index: 4;

    transition: opacity 0.4s;
    opacity: 0;

    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.329);

    pointer-events: none;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin:0px;
    padding: 0px;

    overflow: hidden;

    cursor: pointer;
}

.modal-detail {
  z-index: 4;

  transition: opacity 0.4s;
  opacity: 0;

  background-color: rgba(0, 0, 0, 0.698);

  pointer-events: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin:0px;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-detail-area {
  z-index: 5;
  color: wheat;
  background-color: rgb(19, 19, 19);
  width: 80%;
  max-height: calc(100% - 50px);
  text-align: center;
  overflow: auto;
  border-radius: 20px;

  cursor: auto;
}

.img-txt-container {
  display: flex;
  flex-direction: row;
  /* align-items: center; */

  text-align: start;

  margin: 40px;
  gap: 40px;
  font-family: Arial, sans-serif;
  line-height: 150%;
}

.side-image {
  width: 40%;
}

a {
  color: wheat;
}
